<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{Title}</title>
</head>
<body>
    <p>
        Sent payment was confirmed.
    </p>
    <dl>
        <dt>Invoice name:</dt>
        <dd>{Invoice}</dd>
        <dt>Payment reciever:</dt>
        <dd>{Reciever}</dd>
        <dt>Fiat amount:</dt>
        <dd>{AmountFiat}</dd>
        <dt>Fiat currency:</dt>
        <dd>{CurrencyFiat}</dd>
        <dt>Crypto amount:</dt>
        <dd>{AmountCrypto}</dd>
        <dt>Crypto currency:</dt>
        <dd>{CurrencyCrypto}</dd>
        <dt>Your crypto address:</dt>
        <dd>{TargetAddressCrypto}</dd>
        <dt>Transaction time:</dt>
        <dd>{TransactionTimestamp}</dd>
    </dl>
</body>
</html>
