@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_LoginLayout";
}

<v-container fluid>
    <v-layout row>
        <v-flex xs12 sm6 offset-sm3>
            <v-card class="mb-2">
                <v-card-text>
                    <h1>@ViewData["Title"]</h1>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
    <v-form ref="form" v-model="valid" method="post" action="/Account/ForgotPassword">
        <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
                <v-card class="mb-2">
                    <v-card-title>
                        <h2>Enter your email...</h2>
                    </v-card-title>
                    <v-card-text>
                        <div asp-validation-summary="ModelOnly" class="alert error"></div>

                        <v-layout row>
                            <v-flex xs12>
                                <v-text-field required type="email" label="E-mail" name="Email" v-model="model.Email" :rules="[rules.notEmpty, rules.email]"></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
                <v-card class="mb-2">
                    <v-card-text>
                        <v-layout row>
                            <v-btn @@click="submit" :disabled="!valid" color="primary">Submit</v-btn>
                            <div class="spacer"></div>
                            <v-btn href="/Account/Login" class="px-3 mr-4">Log in</v-btn>
                            <v-btn href="/Account/Register?returnUrl=@ViewData["ReturnUrl"]" class="px-3">Create account</v-btn>
                        </v-layout>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
        @Html.AntiForgeryToken()
    </v-form>
</v-container>

@section Scripts {
    <script>
        new Vue({
            el: '#app',
            data: () => ({
                valid: false,
                model: {
                    Email: ''
                },
                rules: {
                    email: (value) => {
                        const pattern = /^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                        return pattern.test(value) || 'The Email field is not a valid e-mail address.'
                    },
                    notEmpty: (value) => {
                        return (value || '').length > 0 || 'This field is required';
                    }
                }
            }),
            methods: {
                submit () {
                    if(this.$refs.form.validate()) {
                        $(this.$refs.form.$el).submit();
                    }
                }
            }
        });
    </script>
}
