@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "_LoginLayout";
}

<v-container fluid>
    <v-layout row>
        <v-flex xs12 sm6 offset-sm3>
            <v-card class="mb-2">
                <v-card-title>
                    <h1>@ViewData["Title"]</h1>
                </v-card-title>
                <v-card-text>
                    <p>
                        Please check your email to reset your password.
                    </p>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
    <v-layout row>
        <v-flex xs12 sm6 offset-sm3>
            <v-card class="mb-2">
                <v-card-text>
                    <v-layout row>
                        <div class="spacer"></div>
                        <v-btn href="/Account/Login" class="px-3 mr-4">Log in</v-btn>
                        <v-btn href="/Account/Register?returnUrl=@ViewData["ReturnUrl"]" class="px-3">Create account</v-btn>
                    </v-layout>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</v-container>

@section Scripts {
    <script>
        new Vue({
            el: '#app',
            data: () => ({
            })
        });
    </script>
}

