<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApi 1.0</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/web-api-static/css/screen.css" type="text/css" />
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/web-api-static/css/screen.min.css" type="text/css" />
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    </environment>
</head>
<body>
    <div id="app">
        <v-app>
            <v-toolbar app color="indigo">
                <span class="title ml-3 mr-5"><a href="/">Crypto Invoice</a></span>
                <v-spacer></v-spacer>
                <v-toolbar-items class="hidden-sm-and-down">
                    <v-btn color="white" flat href="/Account/Login">Log in</v-btn>
                </v-toolbar-items>
                <v-menu transition="slide-y-transition" bottom left attach offset-y offset-overflow nudge-left>
                    <v-toolbar-side-icon class="hidden-md-and-up white--text" slot="activator"></v-toolbar-side-icon>
                    <v-list>
                        <v-list-tile v-for="item in navItems">
                            <v-list-tile-title href="/Account/Login">Log in</v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-menu>
            </v-toolbar>
            <main class="content">
                <div class="content--wrap">
                    <div class="container fluid">
                        @RenderBody()
                    </div>
                </div>
            </main>
        </v-app>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
